.form-request__title {
  font-size: 20px;
  line-height: 27px;
  color: #8e80a9;
}

.form-request__input {
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #c8c0db;
  background-color: inherit;
  border: 0;
  border-bottom: 1px solid #8e80a9;
  text-decoration: underline;
  padding-bottom: 15px;
}
