@iconSize: 10px;

.instructors {
  position: relative;
}

.instructors__controls {
  padding: 12px 3px 9px 3px;
  border: 1px solid @secondary;
  position: absolute;
  top: 20px;

  svg {
    width: @iconSize;
    height: @iconSize;
    margin-top: 3px;
  }

  &--left {
    fill: @secondary;
    left: -31px;

    svg {
      transform: rotate(270deg);
    }
  }

  &--right {
    fill: #ffffff;
    right: -31px;
    background-color: @secondary;

    svg {
      transform: rotate(90deg);
    }
  }
}

.instructors__list {
  margin: 0;
  .plain-list();
}

.instructors__item {
  display: none;
  margin-bottom: 20px;

  &:last-child {
    display: block;
  }
}

.instructors__wrapper {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  margin: 0;
  box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}

.instructors__description {
  &--full {
    .instructors__name {
      display: none;
    }
    .instructors__exp {
      display: none;
    }
  }
}

.instructors__name {
  font-size: 10px;
  line-height: 15px;
  color: @primary;
  margin: 0;
}

.instructors__content {
  padding-top: 10px;
  padding-left: 12px;
  flex: 1;
}

.instructors__type {
  margin: 7px 0 0;
}

.instructors__social-media {
  margin-left: 20px;
  margin-top: 20px;
}

.instructors__exp {
  margin: 0;
  font-size: 10px;
  line-height: 20px;
  color: @primary;
}

.instructors__about {
  margin: 0;
  font-size: 10px;
  line-height: 15px;
  padding-top: 20px;
}

.instructors__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instructors__img-wrapper {
  display: block;
  width: 82px;
  height: 82px;
}

@media (min-width: @tablet-width) {
  .instructors {
    .content-wrapper();
  }

  .instructors__content {
    display: none;
  }

  .instructors__item {
    display: flex;
    margin-top: 30px;

    &:last-child {
      display: none;
    }

    &:first-child {
      display: flex;
    }
  }

  .instructors__wrapper {
    display: flex;
    margin: 0;
    margin-right: 30px;
  }

  .instructors__social-media {
    display: none;
  }

  .instructors__img-wrapper {
    width: 284px;
    height: 335px;
    align-self: center;
  }

  .instructors__about {
    display: block;
    margin-top: 15px;
    padding-top: 0;
  }

  .instructors__description {
    background-image: url("../img/tablet/small-pattern-tablet@1x.png");
    background-position: 53px 66px;
    padding-right: 20px;
    &--full {
      .instructors__name {
        display: block;
      }
      .instructors__exp {
        display: block;
      }
    }
  }

  .instructors__controls {
    top: 155px;
  }
}

@media (min-width: @desktop-width) {
  .instructors__wrapper {
    margin: 0 47px 0 0;
  }

  .instructors__img-wrapper {
    width: 580px;
    height: 700px;
  }

  .instructors__about {
    font-size: 17px;
    line-height: 20px;
    margin-top: 35px;
  }

  .instructors__name {
    font-size: 15px;
    line-height: 15px;
  }

  .instructors__exp {
    font-size: 13px;
  }

  .instructors__description {
    padding-top: 41px;
    background-image: none;
  }

  .instructors__controls {
    padding: 0;
    border: none;
    top: 348px;

    svg {
      width: 50px;
      height: 50px;
    }

    &--right {
      fill: @secondary;
      background-color: inherit;
      right: -77px;
    }

    &--left {
      left: -77px;
    }
  }
}
