.main-navigation {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  padding: 0;
  margin: 0;
}

.main-navigation__toggle svg {
  padding: 0;
  fill: #8e80a9;
  padding-top: 19px;
  padding-left: 15px;
}

.main-navigation__toggle::before {
  content: "";
  position: absolute;
}

.main-navigation__toggle {
  background: transparent;
}

.main-navigation__phone-number {
  position: absolute;
  left: 201px;
  top: 23px;
  font-size: 12px;
}

.main-navigation__phone-number {
  color: #8e80a9;
}
