.membership {
  background-image: url("../img/mobile/clouds-membership-pattern@1x.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.membership__button {
  color: #ffffff;
}

.membership__period-list {
  .plain-list();
}

.membership__period-list a {
  color: @primary;
}

.membership__types {
  .plain-list();
}
