.page-footer__form {
  background-image: url("../img/mobile/yoga-futer-mobile@1x.png");
}

.page-footer {
  background-color: #8373a1;
  color: #ffffff;
}

.page-footer__copyright,
.page-footer__copyright a {
  color: rgba(255, 255, 255, 0.5);
}

.page-footer__copyright a:hover,
.page-footer__copyright a:focus {
  color: #ffffff;
}
