.page-footer__form {
  background-image: url("../img/mobile/yoga-futer-mobile@1x.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding: 70px 11px 70px 35px;
  width: 100%;
  background-size: cover;
}

.page-footer {
  background-color: #8373a1;
  color: #ffffff;
  width: 100%;
}

.page-footer__copyright {
  font-size: 12px;
  line-height: 20px;

  a {
    margin-bottom: 20px;

    &:hover,
    &:focus {
      color: #ffffff;
    }
  }
}

.page-footer__copyright,
.page-footer__copyright a {
  color: rgba(255, 255, 255, 0.5);
}

.page-footer__wrapper {
  display: block;
  padding-left: 25px;
  padding-bottom: 33px;
  padding-top: 29px;
}

.page-footer__contacts {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page-footer__form {
    background-image: url("../img/tablet/yoga-futer-tablet@1x.png");
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding: 70px 106px 94px 106px;
  }

  .page-footer__wrapper {
    padding-left: 65px;
    padding-bottom: 68px;
    padding-top: 65px;
  }

  .page-footer__copyright {
    display: flex;

    p {
      width: 50%;
    }

    a {
      width: 50%;
      margin-top: 11px;
      margin-bottom: 12px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer__copyright {
    background-color: #8373a1;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    a {
      padding-left: 166px;
    }

    p {
      padding-right: 26px;
    }
  }

  .page-footer {
    background-image: url("../img/desktop/yoga-futer-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-footer__full {
    display: flex;
    width: 100%;
  }

  .page-footer__form {
    background-image: none;
    width: 50%;
    order: 2;
    padding: 70px 159px 70px 0;
  }

  .page-footer__wrapper {
    width: 50%;
    color: @secondary;
    order: 1;
    padding-top: 201px;
    padding-left: 257px;
  }

  .page-footer__contacts {
    font-size: 14px;
    line-height: 20px;
  }
}
