.types {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../img/mobile/big-pattern-mobile@1x.png");
  background-position: 0 131px;
  padding-left: 35px;
  padding-right: 35px;
  background-repeat: no-repeat;
}

.types__wrapper {
  display: flex;
  text-align: start;
  background-color: #ffffff;
  width: 100%;
  margin: 0;
}

.types__content {
  flex: 1;
  padding: 20px;
}

.types__content p {
  margin: 10px 0 10px 0;
}

.types__item {
  margin: 0;
  margin-bottom: 30px;
}

.types__list {
  .plain-list();
  margin: 0;
}

.types__item img {
  vertical-align: bottom;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.types__title {
  font-size: 18px;
  text-align: center;
  margin-left: 65px;
}

.types__subtitle {
  font-size: 12px;
  line-height: 0px;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 5px;
}

.types__instructor {
  padding-right: inherit;
  color: @primary;
}

.types-instructor__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  background-color: #8e80a9;
}

.types-instructor__button svg {
  transform: rotate(90deg);
  fill: #ffffff;
}

.types__button {
  color: #8e80a9;
}
